@model agenceWebEF.Models.Utilisateur
<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Nom d'utilisateur</label>
                <input asp-for="UserName" class="form-control" placeholder="Nom d'utilisateur" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label">Mot de passe</label>
                <input asp-for="PasswordHash" class="form-control" placeholder="Mot de passe" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
